- theads = ["Full name", "Content", "Actions"]
- fields = ['full_name', 'content']


%table.ui.green.sixteen.column.table.segment
  %thead
  %tr
  - theads.each do |t_head|
    %th
      =t_head
  %tbody
  - @comments.each do |c|
    %tr{id: c.id}
      - fields.each do |f|
        %td
          =c.send(f)
      %td
        - if current_admin.roles.include?("admin")
          =link_to "edit", edit_admin_comment_path(c), :class => "ui basic tiny button"
          .moderation_comment.ui.basic.tiny.button{data: {commentID: c.id} } moderated!
          =link_to "delete", admin_comment_path(c),data: {confirm: "are you sure?"}, method:"delete" ,:class => "ui basic right tiny button"
        -else
          .moderation_comment.ui.basic.tiny.button{data: {commentID: c.id} } moderated!
  %tfoot
    %tr
      %th{colspan: "12"}
        %a.ui.basic.button{href: new_admin_comment_path}
          %i.green.icon.add
          New Comment
