- theads = ["ID", "Name", "Author", "ISBN", "Actions"]
- fields = ['id', 'name', 'author', 'isbn']


%table.ui.purple.sixteen.column.table.segment
  %thead
  %tr
  - theads.each do |t_head|
    %th
      =t_head
  %tbody
  - @books.each do |b|
    %tr
    %tr
    - fields.each do |f|
      %td
        =f != 'author'? b.send(f) : b.author.full_name
    %td
      =link_to "edit", edit_admin_book_path(b), :class => "ui basic tiny button"
      =link_to "delete", admin_book_path(b), data: {confirm: "are you sure?"}, method:"delete" ,:class => "ui basic right tiny button"
  %tfoot
    %tr
      %th{colspan: "12"}
        %a.ui.basic.button{href: new_admin_book_path}
          %i.purple.icon.add
          New Book
