%header
  .ui.secondary.pointing.menu
    = link_to '<i class="grid layout icon"></i> Books list'.html_safe, books_path, :class => "blue item"
    .right.menu
      = link_to '<i class="sign in icon"></i> Log In'.html_safe, new_admin_session_path, :class => "red item"


