%header
  .ui.secondary.pointing.menu
    = link_to books_path, :class => "blue item" do
      %i.grid.layout.icon
      Book list
    .right.menu
      -if admin_signed_in?
        = link_to admin_root_path, :class => "red item" do
          %i.sign.in.icon
          =current_admin.login
      - else
        = link_to new_admin_session_path, :class => "red item" do
          %i.sign.in.icon
          Log In


