- theads = ["ID", "Email", "Login", "Roles" , "Actions"]
- fields = ['id', 'email', 'login', 'roles']


%table.ui.red.five.column.table.segment
  %thead
    %tr
    - theads.each do |t_head|
      %th
        =t_head
  %tbody
  - @admins.each do |a|
    %tr
    %tr
    - fields.each do |f|
      %td
        =a.send(f)
    %td
      =link_to "edit", edit_admin_admin_path(a), :class => "ui basic tiny button"
      =link_to "delete", admin_admin_path(a), data: {confirm: "are you sure?"}, method:"delete" ,:class => "ui basic right tiny button"
  %tfoot
    %tr
      %th{colspan: "5"}
        %a.ui.basic.button{href: new_admin_admin_path}
          %i.red.icon.add
          New Admin
