%header
  .ui.secondary.pointing.menu
    = link_to '<i class="home icon"></i> Dashboard'.html_safe, admin_root_path, :class => "blue item"
    = link_to '<i class="users icon"></i> Authors'.html_safe, admin_authors_path, :class => "teal item"
    = link_to '<i class="book icon"></i> Books'.html_safe, admin_books_path, :class => "purple item"
    .right.menu
      = link_to '<i class="sign out icon"></i> Log Out'.html_safe, destroy_admin_session_path, method: "delete", :class => "red item"


