$(function(){
  $("header a").click(function(){
    $(this).addClass('active');
  });
  $('header a').filter(function() {
      return this.href == window.location.href;
  }).addClass('active');

  $(".form-button").click(function() {
    $("div").removeClass('asd');
    $(this).addClass('asd');
    $("test").show();
  });

  $(".new-author.ui.basic.button").click(function() {
    $('.modal')
    .modal('show');
  });

  $(".cancel.ui.basic.button").click(function() {
    $('.modal')
    .modal('hide');
  });

  $("#new_author").submit(function() {
    $.ajax({
      url: '/admin/authors',
      method: 'POST',
      dataType: "json",
      data: $(this).serialize(),
    })
    .done(function(response) {
      $("select#book_author_id").append("<option selected='selected' value=" + response.id +">"+response.full_name +"</option>");
      $('.modal')
        .modal('hide');
      $("field").removeClass('error')
      $(".errors.author").hide().empty();
    })
    .fail(function(data) {
      $("#new_author .field").addClass('error')
      $(".errors.author").slideDown('fast', function() {
        $(this).empty();
        $(this).prepend("<div class='header'>What went wrong?</div>");
        $(data.responseJSON).each(function(i){
          $(".errors.author").append("<li>" + data.responseJSON[i] + "</li>");
          console.log(data.responseJSON[i]);
        });
      });
    })
    return false;
  });

  $("#new_book").submit(function() {
    $.ajax({
      url: '/admin/books',
      method: 'POST',
      dataType: "json",
      data: $(this).serialize(),
    })
    .done(function(response) {
      $("#new_book .field").removeClass('error')
      $(".errors.book").hide().empty()
      window.location.replace("/admin/books");
    })
    .fail(function(data) {
      $(".errors.book").slideDown('fast', function() {
        $(this).empty();
        $(this).prepend("<div class='header'>What went wrong?</div><ul class='list'>");
        $(data.responseJSON).each(function(i){
          $(".errors.book").append("<li>" + data.responseJSON[i] + "</li>");
          console.log(data.responseJSON[i]);
        });
      });
    });
    return false;
  });

  $('.ui.form.log-in')
  .form({
    email: {
      identifier : 'user[email]',
      rules: [
        {
          type : 'empty',
          prompt : 'Please enter a username'
        }
      ]
    },
    password: {
      identifier : 'user[password]',
      rules: [
        {
          type : 'empty',
          prompt : 'Please enter a password'
        },
        {
          type : 'length[9]',
          prompt : 'Your password must be at least 9 characters'
        }
      ]
    }
  })
;
// $('.ui.dropdown')
//   .form(validationRules, {
//     inline : true,
//     on : 'blur'
//   });

});
