.container
  +clearfix

.pagination-wrap
  text-align: center

.pagination
  display: inline-block

.books-list
  margin: 30px auto
  width: 996px
  a
    color: #009FDA
    &:hover
      color: #00BAFF
  .item
    text-align: center
    height: 400px

.book
  .cover
    width: 280px
    margin-right: 60px
    float: right
    img
      display: block
      max-width: 248px
      margin: 0 auto
  .author
    margin-top: 30px
    width: 400px
    float: right
    box-shadow: 0 0 20px rgba(77, 135, 150,0.6)
    img
      display: block
      margin: 0 auto
    h2
      text-align: center
  .inf
    float: left
    width: 100%
    td:first-child
      width: 180px
      text-align: right

  .right
    min-width: 360px
  .left
    min-width: 446px

.comments
  margin-top: 40px
  .ui.threaded.comments
    margin: 0 15%
  h3
    text-align: center

.authors-books
  overflow-x: scroll

@include screen(768px, 1280px)

@include screen(320px, 480px)
  .container,
  header,
  .pagination-wrap,
  .books-list,
    width: 400px

  header
    .item,
    #search-form
      width: 133px
    #search-form
      i
        display: none

  .pagination-wrap
    padding-top: 30px

  .books-list
    .item
      min-width: 384px

  .book
    .cover,
    .author,
    .inf
      width: 400px
      float: left
      img
        display: block
        max-width: 248px
        margin: 0 auto
    .author
      margin-top: 30px
      box-shadow: 0 0 20px rgba(77, 135, 150,0.6)

    .inf
      td:first-child,
      td
        text-align: center
  .author-books
    padding: 1px 1px 10px
    overflow-y: hidden
    .ui.five.connected.items
      .description
        display: none
  .comments
    .ui.threaded.comments
      margin: 0
      .comment
        min-width: 400px

@include max-screen(320px)
  .container,
  header,
  .pagination-wrap,
  .books-list,
    width: 300px

  header
    .item,
    #search-form
      width: 100px
      text-align: center
      i
        display: none

  .pagination-wrap
    padding-top: 0

  .books-list
    .item
      max-width: 282px
      min-width: 280px

  .book
    .cover,
    .author,
    .inf
      width: 300px
      float: left
      img
        display: block
        max-width: 248px
        margin: 0 auto
    .author
      margin-top: 30px
      box-shadow: 0 0 20px rgba(77, 135, 150,0.6)

    .inf
      td:first-child,
      td
        text-align: center
  .author-books,
  .comments
    display: none
