.container
  +clearfix



.pagination-wrap
  text-align: center

.pagination
  display: inline-block

.books-list
  margin: 30px auto 0
  width: 996px
  a
    color: #009FDA
    &:hover
      color: #00BAFF

.book
  .cover
    width: 280px
    margin-right: 60px
    float: right
  .author
    margin-top: 30px
    width: 400px
    float: right
    box-shadow: 0 0 20px rgba(77, 135, 150,0.6)
    img
      display: block
      margin: 0 auto
    h2
      text-align: center
  .inf
    float: left
    width: 100%
    td:first-child
      width: 180px

  .right
    min-width: 360px
  .left
    min-width: 446px

.comments
  margin-top: 40px
  .ui.threaded.comments
    margin: 0 15%

.authors-books
  overflow-x: scroll
