.new-comment
  margin: 40px auto
  width: 500px
  position: relative

.attachment-file-btn
  position: absolute
  bottom: 59px

.ui.threaded.comments
  a
    color: #009FDA
    &:hover
      color: #00BAFF

#comment_avatar
  width: 100%
  height: 45px
  opacity: 0
  cursor: pointer


@include screen(768px, 1280px)

@include screen(320px, 480px)
  .new-comment,
  .ui.threaded.comments
    width: 400px

  .ui.threaded.comments
    padding: 0px 15px 15px 0px
    max-height: 1000px
    overflow: scroll
